	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/06/2020 04:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-adjust:before { content: "\f100"; }
.flaticon-colleagues:before { content: "\f101"; }
.flaticon-online-payment:before { content: "\f102"; }
.flaticon-global:before { content: "\f103"; }
.flaticon-advantage:before { content: "\f104"; }
.flaticon-productivity:before { content: "\f105"; }
.flaticon-customer-service:before { content: "\f106"; }
.flaticon-operator:before { content: "\f107"; }
.flaticon-customer-service-1:before { content: "\f108"; }
.flaticon-customer-support:before { content: "\f109"; }
.flaticon-customer-service-2:before { content: "\f10a"; }
.flaticon-money:before { content: "\f10b"; }
.flaticon-search-engine:before { content: "\f10c"; }
.flaticon-award:before { content: "\f10d"; }
.flaticon-right:before { content: "\f10e"; }
.flaticon-left:before { content: "\f10f"; }
.flaticon-two-down-arrows:before { content: "\f110"; }
.flaticon-two-arrows-pointing-up:before { content: "\f111"; }
.flaticon-fast-forward-double-right-arrows:before { content: "\f112"; }
.flaticon-rewind-double-arrows-angles:before { content: "\f113"; }
.flaticon-left-arrow-1:before { content: "\f114"; }
.flaticon-right-arrow-2:before { content: "\f115"; }
.flaticon-consulting:before { content: "\f116"; }
.flaticon-problem:before { content: "\f117"; }
.flaticon-certification:before { content: "\f118"; }
.flaticon-add:before { content: "\f119"; }
.flaticon-minus:before { content: "\f11a"; }
.flaticon-user:before { content: "\f11b"; }
.flaticon-speech-bubble:before { content: "\f11c"; }
.flaticon-email:before { content: "\f11d"; }
.flaticon-pin:before { content: "\f11e"; }
.flaticon-call:before { content: "\f11f"; }
.flaticon-loupe:before { content: "\f120"; }
.flaticon-add-1:before { content: "\f121"; }
.flaticon-three-oclock:before { content: "\f122"; }
.flaticon-dialogue:before { content: "\f123"; }
.flaticon-presentation:before { content: "\f124"; }
.flaticon-laptop:before { content: "\f125"; }
.flaticon-settings:before { content: "\f126"; }
.flaticon-implement:before { content: "\f127"; }
.flaticon-big-data:before { content: "\f128"; }
.flaticon-coding:before { content: "\f129"; }
.flaticon-data:before { content: "\f12a"; }
.flaticon-right-quote-sign:before { content: "\f12b"; }
.flaticon-rate:before { content: "\f12c"; }
.flaticon-seo:before { content: "\f12d"; }
.flaticon-network:before { content: "\f12e"; }
.flaticon-user-1:before { content: "\f12f"; }
.flaticon-marketing:before { content: "\f130"; }
.flaticon-loudspeaker:before { content: "\f131"; }
.flaticon-process:before { content: "\f132"; }
.flaticon-contact:before { content: "\f133"; }
.flaticon-team:before { content: "\f134"; }
.flaticon-consulting-1:before { content: "\f135"; }
.flaticon-pricing:before { content: "\f136"; }
.flaticon-marketing-1:before { content: "\f137"; }
.flaticon-shopping-bag:before { content: "\f138"; }
.flaticon-report:before { content: "\f139"; }
.flaticon-technical-support:before { content: "\f13a"; }
.flaticon-consulting-2:before { content: "\f13b"; }
.flaticon-online-business:before { content: "\f13c"; }
.flaticon-network-1:before { content: "\f13d"; }
.flaticon-play-button:before { content: "\f13e"; }
.flaticon-youtube:before { content: "\f13f"; }
.flaticon-play:before { content: "\f140"; }
.flaticon-play-button-1:before { content: "\f141"; }
.flaticon-human-resources:before { content: "\f142"; }
.flaticon-team-1:before { content: "\f143"; }
.flaticon-passive-candidate:before { content: "\f144"; }
.flaticon-network-2:before { content: "\f145"; }
.flaticon-language:before { content: "\f146"; }
.flaticon-remote:before { content: "\f147"; }
.flaticon-cancel:before { content: "\f148"; }
.flaticon-cancel-1:before { content: "\f149"; }
.flaticon-focus:before { content: "\f14a"; }